body {
	background-image: url("../assets/nsr-background.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

header {
	text-align: center;
	/*display: block;*/			
	height: 100px;
	/*border: 1px dashed white;*/
	/*color: yellow;*/
	width: auto;
	height: auto;
	margin-right: auto;
	margin-left: auto;
}

#logo {
	width: 35%;
}

header h1 {
	margin: 0px;
}

#navbar {
	width: 70%;
	margin-right: auto;
	margin-left: auto;

}

#navbar ul{
	padding: 0px;	
	margin-top: 0px;
	margin-bottom: 0px;	
} 

#navbar li{
	display: block;
	float: left;
	padding: 0px;	
	margin: 0px;
	margin-right: 9.2%;
	width: 18%;
	padding-top: 10px;
	padding-bottom: 20px;
}

#navbar li:last-child {
	margin-right: 0px;
}

#navbar a {
	display: block;	
	width: auto;
	height: 27px;
	margin-right: auto;
	margin-left: auto;
	text-align: center;		
	background: url("../assets/nav-button.png") no-repeat;
	background-size: 100%;
	padding-top: 12px;
	color: silver;
}

#navbar a:hover {
	background-position: 0px -40px;
	color: white;
}

#aside-adds {
	display: block;
	width: 23%;
	height: 580px;
	float: left;
	border: 1px dashed white;
}

#container {
	display: block;
	float: left;
	width: 57%;
	height: 580px;
	border: 1px dashed red;
}

#aside-bar {
	display: block;
	float: left;
	width: 19.5%;
	height: 580px;
	border: 1px dashed white;
}

footer {
	display: block;
	float: left;
	height: 50px;
	border: 1px dashed white;
	width: 100%;
}